body{
    background-color:rgb(232, 240, 240);
}
.knowbut{
    background-color: #e7f2f3;
}
.heading{
    color: #198799;
}
.card{
    background-color: #fdfaf4;
}
.selbut{
    background-color: #ffa361;
}
.dropdown-menu{
    background-color: #fdffff;

}